body {
    margin: 10px 20px 0px 10px;
}

a {
    padding: 10px;
    float:right;
}

h4 {
    padding: 20px;
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
}

p {
    padding: 30px;
}

.btn {
    margin: 20px;
}

.form-control{
    display: inline-block;
    width: 50%;
}

.col-sm-2 {
    padding-left: 30px;
    padding-top: 5px;
}

#logo img {
    max-width: 8%;
}

#search {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#advSearchBtn {
    width: 109%;
    display: flex;
    justify-content: center;
}