body {
    margin: 20px;
    text-align: center;
}

a {
    padding: 10px;
}

input {
    display:flex;
   
}

.btn {
    margin: 30px;
    min-width:12%
}

.form-control{
    display: inline-block;
    border-radius: 24px;
    width: 50%;
    min-width: 400px;
}

#logo img {
    padding-bottom: 30px;
    max-width: 25%;
    min-width: 200px;
}

#search {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#feelingLucky {
    margin-left: -5px;
}